!   terminal colors

! tangoesque scheme
*background: #111111
*foreground: #babdb6

! Black + DarkGrey
*color0: #000000
*color8: #555753

! Red + DarkRed
*color1: #ff6565
*color9: #ff8d8d

! Green + DarkGreen
*color2: #93d44f
*color10: #c8e7a8

! Yellow + DarkYellow
*color3: #eab93d
*color11: #ffc123

! Blue + DarkBlue
*color4: #204a87
*color12: #3465a4

! Mangenta + DarkMangenta
*color5: #ce5c00
*color13: #f57900

! Cyan + DarkCyan
*color6: #89b6e2
*color14: #46a4ff

! White + LightGrey
*color7: #cccccc
*color15: #ffffff

! -----------URxvt Specific --------------

! Colored Man Pages
URxvt.colorIT:	#87af5f
URxvt.colorBD:	#d7d7d7
URxvt.colorUL:	#87afd7

! Transparency (done by xcompmgr now)
!URxvt.depth: 32
!URxvt.background: rgba:1111/1111/1111/dddd
!URxvt.transparent: true
!URxvt.shading: 17

! No Scrollbar
URxvt.scrollBar: false

! Fonts
URxvt.font: xft:DejaVu Sans Mono:size=10:antialias=false:hinting=true
URxvt.boldFont: xft:DejaVu Sans Mono:bold:size=10:antialias=false:hinting=true

! Urls
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.urlLauncher : chromium
URxvt.matcher.button : 1
